:root {
  --bright-blue: #007bff;
  --graphite: #506578;
  --slate-gray: lightslategray;
  --maroon: maroon;
  --nd-blue: #20364c;
  --white: white;
}

html {
  font-size: 16px !important;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", Arial, sans-serif;
  background: #FFFFFF;
  color: var(--graphite);
}

/* Colors */
.dark-blue {
  color: #20364c !important;
}

.bright-blue {
  color: var(--bright-blue);
}

.white {
  color: var(--white) !important;
}

.badge-bright-blue {
  background: var(--bright-blue);
}

.pointer {
  cursor: pointer;
}

#badge-more {
  background-color: #1585cf;
  color: white;
  cursor: pointer;
}

/* Degree area -------------------------------------------------------------------- */
#education {
  list-style-type: none;
  padding-left: 0;
}

#education li {
  margin-bottom: 1rem;
}

.university {
  color: gray;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  /* color: #20364c; */
  color: var(--maroon) !important;
  font-weight: 600;
}

h1 {
  margin-bottom: 3rem;
}

h2, h3 {
  margin: 0 0 2rem !important;
  color: slategray;
}

h4 {
  text-transform: uppercase;
}

h4, h5, h6 {
  color: slategray !important;
}

.panel-heading h5 {
  font-style: italic;
  font-weight: 500;
  color: #1585cf !important;
}

#projects {
  padding: 0 !important;
}

#projects .panel {
  border: none;
}

#projects .panel-body h5 {
  font-weight: 600;
  color: var(--maroon) !important;
  font-size: 1.1rem;
}

#projects .panel-heading {
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  min-height: 200px;
}

#projects .panel-heading.proj-1 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-2 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-3 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-4 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-5 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-6 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-7 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-8 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-9 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-10 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-11 {
  background-image: url(https://unsplash.it/300/200);
}
#projects .panel-heading.proj-12 {
  background-image: url(https://unsplash.it/300/200);
}

p, table, tr, td, ul, li, blockquote, nav, a, footer, dl, dt, dd {
  font-size: 1rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}

dt {
  font-weight: 600;
}

blockquote {
  border-left-color: slategray;
  color: slategray;
}

blockquote blockquote {
  border-left: none;
  margin: 1.5rem;
  font-style: italic;
}

cite {
  font-size: 1.5rem !important;
  display: block;
  margin-top: 1rem;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

blockquote footer {
  margin-top: 1.5rem;
  margin-left: 2rem;
  text-indent: -1.8rem;
}

.publications {
  list-style-type: none;
  padding-left: 2.5rem;
}

.publications li {
  margin-left: 2rem;
  text-indent: -2.5rem;
  ;
}

/* Links */
#main-container a {
  color: #1585cf;
  font-weight: 500;
}

#main-container a:hover {
  color: #1585cf;
  border-bottom: 1px dashed #1585cf;
  text-decoration: none;
  padding-bottom: 2px;
}

/* Contact info area, index.html page ------------------------------------------------- */
#title {
  color: #20364c;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}

#program {
  color: gray;
  text-align: center;
}

iframe {
  padding: 3px;
  border: 1px solid lightgray;
}

/* Format the nav  ---------------------------------------------------------- */
nav {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background: var(--nd-blue) !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: white !important;
  font-weight: 400;
}

.navbar-inverse li.active {
  border-bottom: 2px solid white !important;
}

.navbar-inverse .navbar-nav>.active>a {
  background-color: var(--nd-blue) !important;
}

.navbar-inverse .navbar-nav>li.active {
  color: white !important;
}

.navbar-inverse {
  background: #20364c;
  font-weight: 400;
  color: white !important;
  border-radius: 0;
}

.navbar-header button {
  border: 1px solid white !important;
}

.navbar-header button:hover {
  background: transparent !important;
}

/* Utility classes for positioning content ----------------------------------- */
.padding-left-1 {
  padding-left: 1rem !important;
}

.padding-left-2 {
  padding-left: 2rem !important;
}

.push-down-1 {
  margin-top: 1rem !important;
}

.push-down-2 {
  margin-top: 2rem !important;
}

.push-down-3 {
  margin-top: 3rem !important;
}

.push-down-4 {
  margin-top: 4rem !important;
}

.pull-up-1 {
  margin-top: -1rem !important;
}

.pull-up-2 {
  margin-top: -1rem !important;
}

.pull-up-3 {
  margin-top: -1rem !important;
}

.spacer-div-3 {
  height: 45px !important;
}

#link-to-docs,
#link-to-teaching-philosophy {
  color: #1585cf;
}

#link-to-docs:hover,
#link-to-docs:active,
#link-to-docs:visited,
#link-to-docs:focus {
  border: 1px solid #1585cf !important;
  padding-bottom: 6px !important;
  background: transparent !important;
}

/* Setting Lines after headers */
h3 {
  position: relative;
}

h3 span {
  background-color: white;
  padding-right: 10px;
}

h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 2px solid slategray;
  z-index: -1;
}

/* Format the footer ---------------------------------------------------------- */
footer {
  padding-bottom: 2rem;
}

/* Format the social-professional network icons ------------------------------ */
.social-icons {
  list-style-type: none;
}

.social-icons li {
  padding-left: .75rem;
  display: inline-block;
}

.social-icons li a {
  color: #1585cf;
}

.social-icons li a:hover {
  opacity: .8;
  text-decoration: none !important;
}

/* All Links panels ---------------------------------------------- */
#links .panel-default {
  border-radius: 0;
  padding: 0;
  border: none;
  box-shadow: none;
}

#links .panel-heading {
  border-bottom: none;
}

#links img {
  margin-right: 3rem;
  margin-bottom: 2rem;
  width: 100px;
  padding: 3px;
  border: 1px solid silver;
}

/* Lists ------------------------------------------------------------- */
/* Add bottom margin to the description lists */
dd {
  margin-bottom: 1rem;
}

/* Set the anchor element to display block */
.list-group li a {
  display: block;
}

/* Narrow the viewport ----------------------------------------------- */
/* Customize container */
@media only screen and (min-width: 767px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media only screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .container {
    max-width: 900px;
  }
}

/* Accordion panels ----------------------------------------------------- */
/* plus glyph for showing collapsible panels */
.panel-heading .accordion-plus-toggle:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f068";
  float: right;
  color: silver;
}

.panel-heading .accordion-plus-toggle.collapsed:before {
  content: "\f067";
  color: silver;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* arrow glyph for showing collapsible panels */
.panel-heading .accordion-arrow-toggle:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  float: right;
  color: silver;
}

.panel-heading .accordion-arrow-toggle.collapsed:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: silver;
}

/* sets the link to the width of the entire panel title */
.panel-title>a {
  display: block;
}

/* Back to top button */
/* Back to top button ----------------------------------------------------- */
#topper {
  display: none;
  position: fixed;
  bottom: 300px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1585cf;
  color: white;
  padding: 12px 6px 12px 6px;
  border-radius: .25rem 0 0 .25rem;
  cursor: pointer;
  font-size: .8rem;
}

#topper:hover {
  background-color: #1585cf;
  opacity: .8;
}
