/* Global page and element settings ----------------------------------------------------- */
body {
   font-size: 16px;
   font-family: "Open Sans", Arial, sans-serif;
   background: #FFFFFF;
}

/* Colors */
.dark-blue {
   color: #20364c !important;
}

/* Font style */
.montserrat {
   font-family: "Montserrat", Helvetica, sans-serif !important;
}

/* Degree area -------------------------------------------------------------------- */
#education {
   list-style-type: none;
   padding-left: 0;
}

#education li {
   margin-bottom: 1rem;
}

.university {
   color: gray;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
   font-family: "Montserrat", Helvetica, sans-serif;
   color: #20364c;
   font-weight: 500;
}

h4 {
   padding-top: 1rem;
   border-top: 2px solid lightgray;
}

h4, h5 {
   margin-top: 3rem;
}

h5 {
   font-style: italic;
   font-weight: 500;
}

p, table, tr, td, ul, li, blockquote, nav, a {
   font-size: 1.5rem !important;
   font-family: "Montserrat", Helvetica, sans-serif;
   font-weight: 400;
}

p {
   line-height: 1.5;
   margin-bottom: 1.5rem;
}

blockquote footer {
   margin-top: 1.5rem;
   margin-left: 2rem;
   text-indent: -1.8rem;
}

.publications {
   list-style-type: none;
   padding-left: 2.5rem;
}

.publications li {
   margin-left: 2rem;
   text-indent: -2.5rem;;
}

/* Links */
#main-container a:hover {
   color: #337ab7;
   border-bottom: 1px dashed #337ab7;
   text-decoration: none;
   padding-bottom: 2px;
}

/* Contact info area, index.html page ------------------------------------------------- */
#title {
   color: #20364c;
   margin-top: 2rem;
   font-weight: 600;
   font-size: 1.4rem;
   text-align: center;
}

#program {
   color: gray;
   text-align: center;
}

iframe {
   padding: 3px;
   border: 1px solid lightgray;
}

/* Format the nav  ---------------------------------------------------------- */
nav {
   padding-top: 1rem;
   padding-bottom: 2rem;
}

.navbar-default .navbar-nav>li>a {
   color: #20364c;
   font-weight: 500;
}

.nav .montserrat:hover,
.nav .montserrat:focus-within,
.nav .montserrat:focus,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus-within,
.navbar-inverse .navbar-nav>li>a:focus {
   background: white !important;
   border-radius: 1px;
   color: #20364c !important;
}

.navbar-default .navbar-nav>li>a:active {
   background: white !important;
}

@media only screen and (min-width: 768px) {
   .navbar-default .navbar-nav>.open>a {
      background: white !important;
      border-right: 1px solid lightgray;
      border-top: 1px solid lightgray;
      border-left: 1px solid lightgray;
   }

   /* hover effects */
   /* Bubble Bottom */
   .hvr-bubble-bottom {
      display: inline-block;
      vertical-align: bottom;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
   }

   .hvr-bubble-bottom:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: '';
      border-style: solid;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      left: calc(50% - 10px);
      bottom: 0;
      border-width: 10px 10px 0 10px;
      border-color: white transparent transparent transparent;
   }

   .hvr-bubble-bottom:hover:before, .hvr-bubble-bottom:focus:before, .hvr-bubble-bottom:active:before {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
   }
}

@media (max-width: 767px) {

   .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
      color: darkslategray !important;
   }
}

.navbar-inverse {
   background: #20364c;
}

.navbar-brand {
   font-size: 2.15rem !important;
   font-weight: 500;
   color: white !important;
}

/* Navbar link size */
.navbar-default .navbar-nav>li>a {
   font-size: 1.5rem !important;
}

.navbar-inverse .navbar-nav>li>a {
   color: white;
}

.navbar {
   border-radius: 0;
}

.active {
   /* background: white; */
   border-radius: 2px;
}

.navbar .dropdown-menu {
   margin-right: -1px;
}

/* Utility classes for positioning content ----------------------------------- */
.padding-left-1 {
   padding-left: 1rem
}

.padding-left-2 {
   padding-left: 2rem
}

.push-down-1 {
   margin-top: 1rem
}

.push-down-2 {
   margin-top: 2rem
}

.push-down-3 {
   margin-top: 3rem
}

.pull-up-1 {
   margin-top: -1rem
}

.pull-up-2 {
   margin-top: -1rem
}

.pull-up-3 {
   margin-top: -1rem
}

.spacer-div-3 {
   height: 45px
}

#link-to-docs,
#link-to-teaching-philosophy {
   color: #337ab7;
}

#link-to-docs:hover,
#link-to-docs:active,
#link-to-docs:visited,
#link-to-docs:focus {
   border: 1px solid #20364c !important;
   padding-bottom: 6px !important;
   background: transparent !important;
}

/* Format the footer ---------------------------------------------------------- */
footer {
   padding-bottom: 2rem;
}

/* Format the social-professional network icons ------------------------------ */
.social-icons {
   list-style-type: none;
}

.social-icons li {
   padding-left: 2rem;
   display: inline-block;
}

.social-icons li a {
   color: #20364c;
}

.social-icons li a:hover {
   opacity: .8;
   text-decoration: none !important;
}

/* Lists ------------------------------------------------------------- */

/* Add bottom margin to the description lists */
dd {
   margin-bottom: 1rem;
}

/* Set the anchor element to display block */
.list-group li a {
   display: block;
}

/* Narrow the viewport ----------------------------------------------- */

/* Customize container */
@media only screen and (min-width: 767px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media only screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .container {
    max-width: 900px;
  }

}
